@charset "utf-8";

body {
background-image: url('background.png');
background-repeat: no-repeat;
background-position: 50px 50px;
background-color: #C0C0C0;
background-repeat: repeat-x;
}

.mnu_izquierda {
	position: static;
	background-color: #F90;
	height: 600px;
	width: 200px;
	border-radius: 15px;
	border: outset;
}

.mnu_izquierda_cmd {
	position: relative;
	background-color: #C0C0C0;
	color: #000;
	left: 15px;
	height: 30px;
	width: 100px;
	border: outset;
	border-radius: 5px;
	padding-left: 5px;
}

.mnu_izquierda_cmd_mouseenter {
	position: relative;
	background-color: #FFFFFF;
	color: #000;
	left: 15px;
	height: 30px;
	width: 160px;
	border: outset;
	border-radius: 15px;
	padding-left: 5px;
}

.inner_text_alignmiddle {
	display: table-cell;
	vertical-align: middle;
}

.popup_continue_cel {
	position: absolute;
	background-color: #F90;
	border-radius: 0px 0px 5px 5px;
    top: -120px;
    right: 20px;
	height: 110px;
	width: 91px;
	text-align: center;
}

.popup_continue_cel_up {
	position: absolute;
	background-color: #F90;
	border-radius: 0px 0px 5px 5px;
    top: 0;
    right: 20px;
	height: 110px;
	width: 91px;
	text-align: center;
}
